.img {
    width: 100%; 
    max-width: 800px; 
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #131212; 
  }
  
  .input-group {
    margin-bottom: 20px;
  }
  
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #eacd0e;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #eaedf0;
  }
  
  .image-container {
    margin-top: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
  }
  
  .add-post {
    margin: 0;
    color: white;
  }
  